
.export {
    color: beige;
    background-color: green;
    margin-left: 45%
}

.t{background-color: white}

#map {
    height: 100vh;
}

.hello {
    position: absolute;
    margin-top: 30%;
    margin-left: 50%;
}

.tempDiv {
    position: absolute;
    margin-left: 30%
}