.my-modal2 {
   
      width: 90vw  ;  /* Occupy the 90% of the screen width */
      max-width: 90vw;
    }
.my-modal3{
   
      width: 65vw  ;  /* Occupy the 90% of the screen width */
      max-width: 70vw;
    }